<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>
    <main class="main">
      <h2 class="main__models">Models</h2>
      <div class="grid__template">
        <div class="template__item template--one">
          <img
            src="https://scene7.toyota.eu/is/image/toyotaeurope/toyota-celica-toda-historia:Medium-Landscape?ts=0&resMode=sharp2&op_usm=1.75,0.3,2,0"
            alt="">
          <h3>TOYOTA CELICA</h3>
          <p>El Celica fue diseñado originalmente para conductores de espíritu joven y que desearan algo más que un
            simple medio de transporte. El diseño del Celica comenzó en 1967, se presentó en el Salón del Automóvil de
            Tokio de 1970.</p>
          <button>More Info</button>
        </div>
        <div class="template__item template--two">
          <img
            src="https://scene7.toyota.eu/is/image/toyotaeurope/historia-toyota-corolla1:Medium-Landscape?ts=0&resMode=sharp2&op_usm=1.75,0.3,2,0"
            alt="">
          <h3>TOYOTA COROLLA</h3>
          <p>El Corolla E10 fue la primera generación del vehículo vendido por Toyota bajo el nombre de Corolla. Este
            coche fue lanzado en Japón en octubre de 1966, su principal competidor entonces era el Datsun 1000.</p>
          <button>More Info</button>
        </div>
        <div class="template__item template--three">
          <img
            src="https://scene7.toyota.eu/is/image/toyotaeurope/historia-toyota-2000gt:Medium-Landscape?ts=0&resMode=sharp2&op_usm=1.75,0.3,2,0"
            alt="">
          <h3>TOYOTA 2000GT</h3>
          <p>El Toyota 2000GT es un automóvil deportivo de gran turismo biplaza producido entre 1967 y 1970. Se presentó
            por primera vez en el Salón del Automóvil de Tokio en 1965 y revolucionó la visión del mundo del automóvil
            de Japón.</p>
          <button>More Info</button>
        </div>
        <div class="template__item template--four">
          <img
            src="https://elcomercio.pe/resizer/9EUsDsmZPgTo8AoL-yF6vFmsfTc=/580x330/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/BKOEMXOETRD3XJAUMIRC5SIIOE.jpg"
            alt="">
          <h3>TOYOTA A80</h3>
          <p>Toyota Supra A80 que se produjo en la década de los 90 fue su mejor versión. La cuarta generación del coche
            quedó marcada para siempre como la iteración más reconocida de Supra. Además, contribuyó enormemente para su
            revitalización en 2019.</p>
          <button>More Info</button>
        </div>
        <div class="template__item template--five">
          <img
            src="https://st2.depositphotos.com/3453859/48359/i/450/depositphotos_483591884-stock-photo-bangkok-thailand-december-9-2017.jpg"
            alt="">
          <h3>TOYOTA COLLORA AE86</h3>
          <p>La generación Toyota AE86 es un pequeño cupé ligero o hatchback introducido por Toyota en 1983 como parte
            de la quinta generación del Toyota Corolla. También es conocido como "Hachi-Roku"</p>
          <button>More Info</button>
        </div>
        <div class="template__item template--six">
          <img
            src="https://totalrenting.es/wp-content/uploads/2022/10/toyota-supra-v-a90-2019-gr-3-0-340-cv-automatic-coupe.png"
            alt="">
          <h3>TOYOTA MK5</h3>
          <p>El Toyota mk5 es un automóvil deportivo hatchback de 3 puertas con motor delantero montado
            longitudinalmente de tracción trasera, Producido desde 1978 hasta la actualidad. Hubo una pausa desde 2002
            hasta su reinicio en 2019.</p>
          <button>More Info</button>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>